@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 14.5px;
  @apply bg-bgColor;

  @media (min-width: 768px) {
    font-size: 16px;
  }
}

h1 {
  font-size: 16px;

  @media (min-width: 768px) {
    font-size: 18px;
  }
}

h2 {
  font-size: 15px;
  font-weight: 500;

  @media (min-width: 768px) {
    font-size: 17px;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}