@tailwind base;
@tailwind components;
@tailwind utilities;

html * {
  font-size: 14.5px;
  @apply text-textColor;
  box-sizing: border-box;

  @media (min-width: 768px) {
    font-size: 16px;
  }
}

body {
  @apply bg-bgColor;
}

h1 {
  font-size: 16px;

  @media (min-width: 768px) {
    font-size: 18px;
  }
}

h2 {
  font-size: 15px;
  font-weight: 500;

  @media (min-width: 768px) {
    font-size: 17px;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.gear-select {
  width: 12rem;
  left: 7px;

  @media (min-width: 1024px) {
    min-width: 15rem;
  }

  .gear-select__control {
    @apply border-2;
  }

  .gear-select__control:hover,
  .gear-select__control--is-focused {
    @apply border-accent;
    @apply border-2;
    box-shadow: none;
  }

  .gear-select__option:hover,
  .gear-select__option--is-focused {
    @apply bg-blueLight;
  }
}